*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__/


/static_collected/
/static_root/
/assets/
/webpack-stats.json
/package-lock.json
/yarn.lock
/node_modules/
/bower_components/

staticfiles/
!static/
/static/admin/
/static/rest_framework/

*.css
*.js
!static/css/
!static/js/